*{
    font-size: 20px;
}
button{
    background: #8a98bd;;
   font-size: 30px;
}

.main{
    display:flex;
    width: 100vw;
    height: 100vh;
    background: #292d3e;
    box-sizing: border-box;
}
.app{
    margin: 10px;
    padding: 10px;
    display:flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background: #4d5772;
    text-align: center;

}
.post{
    display: flex;
    background: #4d5772;
    margin: 20px;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    height: 50px;

}
.post p{
    margin: 0;
}